<!--Sección final-->
<footer>
    <img class="img-fluid logotipo-footer" src="/images/HORIZONTAL.png" alt="Logotipo" />
    <br />
    <a href="https://web.facebook.com/profile.php?id=100091178467791&mibextid=LQQJ4d&_rdc=1&_rdr" target="_blank">
        <img class="iconos img-fluid" src="/images/facebook-logo-button.svg" alt="Facebook" />
    </a>
    <a href="https://www.instagram.com/tumascotafeliz53/?igshid=Mzc1MmZhNjY%3D" target="_blank">
        <img class="iconos" src="/images/instagram-logo.svg" alt="Instagram" />
    </a>
    <a href="https://twitter.com/tumascotaf10801" target="_blank">
        <img class="iconos" src="/images/twitter-logo-button.svg" alt="Twiter" />
    </a>
    <p>
        Spa veterinario antiestres, pensado para cuidar el bienestar de tu mascota <br> y tambien para mejorar las
        relaciones con nuestros amiguitos.<br> Hoy en dia sabemos como sufren nuestros animalitos por la falta de
        tiempo
        y atención,<br> tu mascota feliz ofrece servicios agiles que suplen estan falencias.
    </p>
</footer>