<!--Menu-->
<nav class="navbar navbar-expand-lg fixed-top" style="background-color: #7fc392;" data-bs-theme="dark">
    <div class="container">
        <a class="navbar-brand" href="/">
            <img class="img-fluid logotipo" src="/images/HORIZONTAL.png" alt="Bootstrap" />
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <i class="bi bi-menu-app"></i>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                {{#if user}}
                <li class="nav-item">
                    <a class="nav-link " aria-current="page" href="/">Inicio</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/somos">Nosotros</a>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        Mascotas
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a class="dropdown-item" href="/gestion/">Mis mascotas</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="/gestion/registerPet">Registrar mascota</a>
                        </li>
                        <li>
                            <hr class="dropdown-divider" />
                        </li>
                    </ul>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/contacto">Contacto</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/profile"> Perfil </a>
                </li>

                <li class="nav-item">
                    <a class="btn btn-light btn-sm" style="margin-top: 2px;" href="/logout"> Salir </a>
                </li>
                {{else}}
                <li class="nav-item">
                    <a class="nav-link " aria-current="page" href="/">Inicio</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/somos">Nosotros</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/contacto">Contacto</a>
                </li>

                <li class="nav-item
                ">
                    <a class="btn btn-light btn-sm" style="margin-top: 2px;" href="/login"> Ingresar </a>
                </li>

                {{/if}}



            </ul>
        </div>
    </div>
</nav>

<!--Seccion principal-->
<main>
    <!--Formulario de contacto-->
    <section class="altura" >
        <div class="container"  style="height: 70vh;">
            <div class="row">
                <div class="col-12">
                    <form>
                        <div class="mb-3">

                            <label for="exampleInputEmail1" class="form-label">Correo electrónico</label>

                            <input type="email" class="form-control form-control-lg" id="exampleInputEmail1"
                                aria-describedby="emailHelp" required>


                        </div>
                        <div class="mb-3 form-floating">

                            <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2"
                                style="height: 250px" required></textarea>
                            <label for="floatingTextarea2">Comentarios</label>

                        </div>
                        <button type="submit" class="btn btn-primary">Enviar</button>
                    </form>
                </div>
            </div>
        </div>
    </section>

</main>

{{>footer}}