{{> navbar}}

<!--Seccion principal-->
<main>
    <!--Cabecera somos-->
    <section class="cabecera-somos text-center">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-12 ">
                    <h1 class="texto-blancoT ">Somos</h1>
                </div>
            </div>
        </div>
    </section>

    <!--Descripción-->
    <section class="altura">
        <div class="container">
            <div class="row">
                <div class="col-12 col-sm-6">
                    <h3>Una familia</h3>
                    <p>
                        Somos un equipo de colaboradores, que ofrecen servicios de atención básica para las mascotas.
                        Buscamos suplir esas falencias de tiempo y atención que tienen nuestros amiguitos, mejorando la
                        convivencia en casa. Ofrecemos un abanico de posibilidades para que te adaptes mejor según tu
                        necesidad.
                        <br>
                        Nuestros profesionales siempre buscan la mejor manera de cuidar tu mascota y garantizar la
                        correcta realización de las actividades, con el fin de salvaguardar la integridad de nuestros
                        amiguitos.
                    </p>
                </div>

                <div class="col-12 col-sm-6">
                    <img class="img-fluid" src="/images/imagenes-somos.jpg" alt="imagen somos" />
                </div>
            </div>
        </div>
    </section>

    <section class="altura">
        <div class="container">
            <div class="row">
                <div class="col-12 col-sm-6">
                    <img class="img-fluid" src="/images/somos-larga.jpg" alt="imagen somos" />
                </div>

                <div class="col-12 col-sm-6">
                    <h3>Comprometidos con el cambio</h3>
                    <p>
                        Tu mascota feliz se encuentra motivado de poder realizar sus cambios a los medios digitales, de
                        esta manera deja atras sus instalaciones fisicas.
                        <br><br>Ahora el nuevo reto es garantizar la disminución total de impuestos o cobros por
                        instalaciones. Nuestros servicios al ser digitales, implementan el uso de nuevas tic que
                        garantizan la conexión con profesionales de una manera mas economica y eficiente!
                    </p>
                </div>
            </div>
        </div>
    </section>

    <!--Banner somos-->
    <section class="banner-somos altura">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h2 class="texto-blanco">Un equipo</h2>
                    <p class="texto-blanco">
                        Somos un grupo de personas interesadas en el cuidado animal <br> queremos acabar con las altas
                        tasas de abandono animal y hacer del mundo un lugar mejor.
                    </p>

                    <a href="/" class="btn btn-light">Ir a Home</a>
                </div>
            </div>
        </div>
    </section>

    <!--Logos-->
    <section class="altura">
        <div class="container">
            <div class="row">
                <div class="col-6 col-sm-2">
                    <img class="img-fluid" src="/images/logos/logo-01.png" alt="logo1" />
                </div>
                <div class="col-6 col-sm-2">
                    <img class="img-fluid" src="/images/logos/logo-02.png" alt="logo2" />
                </div>

                <div class="col-6 col-sm-2">
                    <img class="img-fluid" src="/images/logos/logo-03.png" alt="logo3" />
                </div>

                <div class="col-6 col-sm-2">
                    <img class="img-fluid" src="/images/logos/logo-04.png" alt="logo-04" />
                </div>

                <div class="col-6 col-sm-2">
                    <img class="img-fluid" src="/images/logos/logo-05.png" alt="logo-05" />
                </div>
                <div class="col-6 col-sm-2">
                    <img class="img-fluid" src="/images/logos/logo-01.png" alt="logo6" />
                </div>
            </div>
        </div>
    </section>
</main>

{{>footer}}