<body class="bg-general">
    <div class="container w-75 bg-primary mt-5 mb-5 rounded shadow">
      <div class="row align-items-stretch">
        <div
          class="col col-md-5 col-lg-5 col-xl-6 bg-gestion8 d-none d-lg-block rounded"
        ></div>

        <div class="col bg-white p-5 rounded-end">
          <div class="text-end">
            <a href="/gestion/service/{{ide}}">
              <img
                src="/images/HORIZONTAL.png"
                alt="Logo principal"
                width="80px"
              />
            </a>
          </div>

          <h2 class="fw-bold text-center py-3">
            Kit antiestrés para animales
          </h2>

          <!--Login-->
          <form action="/gestion/services/{{id}}/gest/{{ide}}" method="POST" class="row btn-group justify-content-center"
          role="group"
          aria-label="Basic radio toggle button group">
            <div class="mb-4 text-center  ">
              <img
                style="height: 100px"
                class="img-thumbnail rounded"
                src="/images/gestion/kit.png"
                alt=""
              />
            </div>
            <div class="col-6 col-sm-6 text-center">
              <input
                type="radio"
                class="btn-check "
                name="date"
                id="btnradio1"
                autocomplete="off"
                value="Kit antiestres animal"
                required
              />
              <label class="btn btn-outline-primary" for="btnradio1"
                >Confirmar</label>
              

            </div>
            

            <div class="mb-4 mt-4">
              <label for="password" class="form-label"
                >Recuerda que el envio de los productos se hara a su domicilio registrado y
                el tiempo en llegar va depender en gran medida de donde estes
                ubicado.</label
              >
            </div>
            <div class="d-grid">
              <button type="submit" class="btn btn-success">Enviar</button>
            </div>
          </form>
        </div>
      </div>
    </div>

  </body>